.flat {
  flex-basis: calc(50% - 20px);
  margin: 10px;

  .flat-picture {
    height: 200px;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    object-fit: cover;
    background-size: cover;
    background-position: center;
  }

  .flat-title {
    margin-top: 10px;

    span {
      font-weight: 600;
    }
  }

  .flat-price {
    display: flex;
    align-items: center;
    margin-top: .5rem;

    .price {
      font-weight: 600;
      margin-right: .3rem;
    }
  }

  &:hover {
    cursor: pointer;
    background-color: #eee;
    img {
      opacity: .8;
    }
  }

  &.selected {
    background-color: greenyellow;
    img {
      opacity: .8;
    }
  }
}
