.flat {
  flex-basis: calc(50% - 20px);
  margin: 10px;
  border-radius: 1rem;
  padding: 1rem;
  transition: all .3s;

  &:hover {
    transition: all .3s;
    box-shadow: 0 2px 18px rgb(34 34 34 / 20%);
    cursor: pointer;
  }

  &.selected {
    box-shadow: 0 2px 18px rgb(34 34 34 / 20%);
  }

  .flat-picture {
    height: 250px;
    width: 100%;
    border-radius: .8rem;
    overflow: hidden;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    transition: all .3s;
  }

  &:hover > .flat-picture {
    transition: all .3s;
    transform: scale(1.03);
  }

  .card-body {
    padding: 1rem;
  }

  .flat-title {
    margin-top: 10px;

    span {
      font-weight: 700;
    }
  }

  .flat-price {
    display: flex;
    align-items: center;
    margin-top: .5rem;

    .price {
      font-weight: 600;
      margin-right: .3rem;
    }
  }
}
