.app {
  height: 100vh;
}

.flats {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.marker {
  width: 60px;
  background-color: white;
  color: rgb(22, 22, 22);
  font-size: 1rem;
  text-align: center;
  border-radius: 50px;
  padding: 5px 0;
  font-weight: bold;
  padding: 5px 10px;
  z-index: 10;
  -webkit-box-shadow: 5px 5px 6px -1px rgba(0,0,0,0.14);
  box-shadow: 5px 5px 6px -1px rgba(0,0,0,0.14);

  &.selected {
    color: white;
    background-color: black;
  }
}

.flats-available {
  margin: .5rem;
  font-weight: 700;
}

.main {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.map {
  overflow: hidden;
}
