.app {
  display: flex;

  .main {
    display: flex;
    flex-basis: 90%;
    flex-direction: column;
  }
  .map {
    flex-grow: 1;
    height: 100vh;
    width: 100%;
    top: 0;
    position: sticky;
  }
  .flats {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }
}

.marker {
  width: 60px;
  background-color: white;
  color: rgb(22, 22, 22);
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  border-radius: 50px;
  padding: 5px 0;
  font-weight: bold;
  padding: 5px 10px;
  z-index: 1000;
  -webkit-box-shadow: 5px 5px 6px -1px rgba(0,0,0,0.14);
  box-shadow: 5px 5px 6px -1px rgba(0,0,0,0.14);

  &.selected {
    background-color: green;
    border: rgb(42, 1, 1);
    color: white;
  }
}
